* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

header {
  display: flex;
  height: 70px;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
}

header a > i {
  font-size: 40px;
  color: black;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.icon-cart {
  position: relative;
}

.icon-cart span {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: teal;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 65%;
}

#products_div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#listcards {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  flex-wrap: wrap;
  gap: 20px;
}
.product {
  padding: 10px 0;
  padding-bottom: 40px;
  width: 30%;
  border: 1px solid black;
  text-align: center;
  border-radius: 12px;
  /* border: 1px solid transparent; */
}

h2 {
  margin: 0;
  padding: 0;
}
.product > img {
  width: 100%;
  height: 60%;
}
.product > p {
  font-size: 20px;
}

.product > p:nth-of-type(1) {
  color: blue;
  letter-spacing: 3px;
}

.addCart {
  padding: 8px 16px;
  border: 1px solid transparent;
  background-color: teal;
  font-size: 20px;
  cursor: pointer;
}

.decrease,
.increase {
  padding: 5px 10px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
.increase {
  background-color: green;
}

.remove-item {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 3px;
}

.remove-item:hover {
  background-color: #236dc8;
}

.cart-item {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
}
